$basic-background-color: rgba(0,0,0,0.5);
$basic-color: #fff; //podstawowy kolor na stronie
$tlo: #2c191d;
$tlo-nav-hover: #c4a980;
$tlo-footer: #191112;
$tlo-copyright: #000;
$tlo-promocja: rgba(204,204,204,0.5);
$color-text-special: #c4a980; //pracownicy i autor cyctatu 