@import url(https://fonts.googleapis.com/css?family=Roboto+Slab);
@import url(https://fonts.googleapis.com/css?family=Josefin+Slab);
@import url(https://fonts.googleapis.com/css?family=Rock+Salt%7cSigmar+One);
/*
font-family: 'Sigmar One', cursive;
font-family: 'Rock Salt', cursive;
*/
* {
	box-sizing: border-box;
}
body {
	background-color: $basic-background-color;
	margin: 0;
}
header {
	height: 60px;
}
.tlo {
	background-color: $tlo;
}
.tlo-footer {
	background-color: $tlo-footer;
}
.tlo-copyright {
	background-color: $tlo-copyright;
}
.tlo-promocja {
	background-color: $tlo-promocja;
}
/*---------------------PODSTAWOWE USTAWIENIA GŁOWNYCH KONTENERÓW-----------------*/
.container {
	width: 100%;
	max-width: 1200px;
	@include wysrodkowanie;
	@include center-text;
	@include basic-padding;
}
/*---------------------HEADER-----------------*/
header > nav ul {
	@include basic-padding;
	@include list-style-none;
	@include float-right
}
.row:after,
.row:before {
	content:'';
    display:table;
}
.row:after {
	clear: both;
}
header > nav .logo {
	padding: 7px 0 15px 0;
	@include float-left;
}
header > nav ul > li {
	@include inline-block;
}
header > nav ul > li > a {
	line-height: 60px;
	padding: 0 20px;
	@include block;
	color: $basic-color;
	text-decoration: none;
	@include text-transform;
}
header > nav ul > li > a:hover {
	background: $tlo-nav-hover;
}
.hero {
	background:url(https://images.unsplash.com/photo-1492541641671-bd75cf01a094?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=d34e1ab7a9f32775d424935ef5983636&auto=format&fit=crop&w=1050&q=80) no-repeat center;
	background-size: cover;
	height: calc(90vh - 60px);
	min-height: 325px;
}
/*---------------------CYTAT-----------------*/
.hero .row .prostokat  {
	height: 25vh;
	min-height: 210px;
	background-color:rgba(102,102,102,0.5);
	box-shadow: #000 2px 2px 5px;
	line-height: 40px;
	margin-top: 15%;;
	margin-bottom: 20px;
	padding: 20px;
}
.ribboncontainer {
    border: 1px solid #d8dee5;
    -webkit-box-shadow: 0 1px 5px rgba(0,0,0,0.1);
    box-shadow: 0 1px 5px rgba(0,0,0,0.1);
    font-size: 12px;
    color: $color-text-special;
    line-height: 1.3em;
	width: 70%;
    max-width: 600px;
	min-width: 250px;
    margin: 0 45px 0 auto;
    position: relative;
    padding: 78px 12px 5px;
}
.ribboncontainer .ribbon {
    position: absolute;
    top: 20px;
    left: -20px;
    right: -20px;
}
.ribboncontainer .ribbon::before {
    content: ' ';
    position: absolute;
    left: 0;
    top: 30px;
    background-color: #4f0a14;
    width: 19px;
    height: 19px;
    -ms-transform: skewY(45deg);
    -webkit-transform: skewY(45deg);
    transform: skewY(45deg);
    z-index: 1;
}
.ribboncontainer .ribbon::after {
    content: ' ';
    position: absolute;
    right: 0;
    top: 30px;
    background-color: #4f0a14;
    width: 19px;
    height: 19px;
    -ms-transform: skewY(-45deg);
    -webkit-transform: skewY(-45deg);
    transform: skewY(-45deg);
    z-index: 1;
}
.ribboncontainer .ribbon h2 {
    background-color: #2c181b;
    color: $basic-color;
    padding: 10px 15px;
    font-size: 18px;
    font-weight: 300;
    @include center-text;
    position: relative;
    z-index: 2;
    -webkit-box-shadow: 0px 0px 4px rgba(0,0,0,0.55);
    box-shadow: 0px 0px 4px rgba(0,0,0,0.55);
}
.ribboncontainer .ribbon h2 cite {
	color: #c4a980;
	font-size: 9px;
	font-style: italic;
}
/*---------------------SLOGAN-----------------*/
.row h1 {
	font-family: $font-family-primary;
	color: $basic-color;
	font-size: 1.75rem;
	letter-spacing: $letter-spacing-h1;
	line-height: 2rem;
}
/*---------------------OZDOBNE PASKI-----------------*/
.pasek {
	@include pasek;
	background: linear-gradient(to bottom right, #2C191D, #C4A980 49%, #7F7F7F 55%);
}
.pasek1 {
	@include pasek;
	background: linear-gradient(to bottom right, #7F7F7F 45%, #C4A980 5%, #2C181B);
}
/*---------------------PODSTAWOWE USTAWIENIA SEKCJI-----------------*/
section > .container {
	@include wysrodkowanie;
}
[class^="sekcja-"] {
	@include sekcja;
}
.sekcja-korzysci .animacja{
	animation:przesun 3s linear infinite;
}
.sekcja-footer {
	padding-top: 20px;
}
@keyframes przesun
{
  0% { letter-spacing:normal; }
  25% { letter-spacing:2px;  }
  50% { letter-spacing:4px; }
  75% { letter-spacing:2px;  }
  100%{letter-spacing:normal; }
}
.sekcja-pracownicy {
	padding: 10px;
}
.sekcja-pracownicy .pracownik {
	width: 150px;
	height: 150px;
	border-radius: 50%;
	border: 1px solid rgba(102,102,102,0.8);
	margin: 40px auto 20px;
	box-shadow: #FFF 1px -1px 2px;
}
.sekcja-liczby {
	height:30vh;
	min-height: 300px;
	padding-top: 40px;
}
.sekcja-promocja {
	margin: 0 auto;
	padding: 60px 0 0 0;
	position: relative;
}
.sekcja-galeria {
	@include basic-padding;
	margin: 0;
	box-shadow: #000 -2px 2px 2px;
}
/*---------------------NAGŁÓWKI-----------------*/
[class^="naglowek-"] {
	@include text-transform;
	font-size: 1.02rem;
	letter-spacing: $basic-letter-spacing;
	padding: 10px;
	color: $basic-color;
	font-weight: 700;
	@include center-text;
} 
.naglowek-h3,
.naglowek-h4 {
	color: $tlo-nav-hover;
}
.naglowek-h1 {
	font-family: $font-family-primary;
	font-size: 1.75rem;
	font-weight: bold;
	letter-spacing: $letter-spacing-h1;
	line-height: 2rem;
}
.naglowek-h2 {
	margin: 20px 0;
}
.naglowek-h3 {
	font-family: $font-family-secondary;
	line-height: 1.2rem;
	text-shadow: rgba(255,255,255,0.3) 1px -1px 1px;
}
.naglowek-h4 {
	font-family: $font-family-naglowek;
	font-size: 2rem;
	line-height:100px;
}
.naglowek-h5 {
	font-size: 1rem;
	letter-spacing: normal;
}
.naglowek-h6 {
	font-family: $font-family-naglowek;
	font-size: 1.7rem;
	@include center-text;
	margin:0 10px 25px 20px;
	letter-spacing: $letter-spacing-h6;
}
/*---------------------3 ICO-----------------*/
.icony {
	height: 20px;
	width: 20px;
}
.ico-glob {
    @include ico;
	background-color:#F00;
	@include transition;
}
.ico-glob:hover {
	color:#F00;
	background-color: #7f7f7f;
}
.ico-comp {
    @include ico;
	background-color: #000;
	@include transition;
}
.ico-comp:hover {
	color:#000;
	background-color: #7f7f7f;
}
.ico-gratipay {
    @include ico;
	background-color: #fff;
	@include transition;
}
.ico-gratipay:hover {
	color:#fff;
	background-color: #7f7f7f;
}
/*---------------- SEKCJA GALERIA------*/
.sekcja-galeria [class*="col-"] {
  @include basic-padding;
  margin: 0;
  height: 200px;
}

.image {
  @include galeria;
  position: relative; 
}
.galeria {
     @include galeria;
	 object-fit: cover;
}
.object-fit_cover { 
  object-fit: cover; 
}
.layer {
	@include galeria;
	position: absolute;
	transition: .8s;
	color: $basic-color;
	@include center-text;
	cursor: pointer;
	@include wysrodkowanie;
}
.image .fa {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  margin: 0 15px;
  opacity: 0;
  transition: .8s;
}
.image:hover .layer {
  background: rgba(0, 0, 0, .5);
}

.image:hover .fa {
  opacity: 1;
}
/*---------------------AKAPITY Z KLASĄ TEKST-----------------*/
[class*="tekst"] {
	color: $basic-color;
	padding: 30px 10px;
	@include center-text;
	line-height: 1.3rem;
	font-size: 1.1rem;
}
/*---------------------MODYFIKACJA COL- -----------------*/
.col-2,
.col-3 {
	@include inline-block;
	@include basic-padding;
}
/*---------------------KOLOROWE LICZBY W SEKCJI LICZBY -----------------*/
[class^="big-"] {
	font-size: 2.5rem;
	@include inline-block;
	text-shadow: $tlo-nav-hover -1px 1px 1px;
}
.big-red {
	color: red;
	transform: rotate(-45deg);
}
.big-black {
	color: black;
	transform: skew(-25deg,20deg);
}
.big-white {
	transform: translate(-5px,-20px); 
	color: white;
}
/*---------------------FOOTER -----------------*/
/*---------------------ABOUTE US -----------------*/
h6::after {
	@include inline-block;
	content: "";
	background-color: $basic-color;
	height: 2px;
	width: 15%;;
	vertical-align: middle;
	margin: 0 .5rem;
}
.wyrownanie-lewa {
	@include left-text 
}
.wyrownanie-srodek {
	@include center-text 
}
/*---------------------GET IN TOUCH -----------------*/

.kontakt {
	font-family: $font-family-kontakt;
	font-size: 1.2rem;
	padding: 5px;
	margin: 5px;
	color: $basic-color;
}
.kontakt-dane {
	font-size: 1rem;
	line-height: 1rem;
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
	color: $basic-color;
	@include left-text;
	padding: 5px;
	margin: 5px;
}
/*---------------------SOCIAL MEDIA -----------------*/
footer ul li {
	@include inline-block;
}
footer ul > li {
	padding:5px;
	margin: 5px;
	font-size: 36px;
}
footer ul > li > a {
	text-decoration: none;
	color: rgba(0,204,255,0.6);
	transition: 0.5s linear;
}
footer ul > li > a:hover {
	color: #03C;
}
/*--------------------SEKCJA PROMOCJA-----------*/
/*------------KOMORKA-------*/
.spod-komorki {
	width: 220px;
	height: 300px;
	@include wysrodkowanie;
	background: #666;
	border-left:#666 10px solid;
	border-top:#666 10px solid;
	border-right:#666 10px solid;
	border-radius: 30px 30px 0 0;
}
.obraz {
	width: 200px;
	height: 260px;
	margin: 30px auto 0;
	border-left: 10px #000 solid;
	border-top: 10px #000 solid;
	border-right: 10px #000 solid;
}
.cien {
	width: 179px;
	height: 260px;
	margin: 0 3px 0 0;
	box-shadow: #CCC 2px 0px 3px;
	overflow: hidden;
}
.kolumna2 {
	position: absolute;
	bottom: 0;
	left: 10px;
}
/* MEDIA */
@media screen and (max-width: 767px) {
	* {
		margin: 0;
		@include basic-padding;
	}
	.container {
		width: 100%;
		max-width: 767px;
	}
	.hero {
	width: 100%;
	height: 150px;
	margin-bottom: 5%;
    }
	.logo {
		margin-left: 15px;
	}
	.pasek, 
	.pasek1,
	.kolumna2,
	.ribbon {
		display: none;
	}
	.col-4, 
	.col-3,
	.col-5 {
		width: 100%;
	}
	.hero .row .prostokat  {
		width: 80%;
		@include wysrodkowanie;
		height: 15vh;
		min-height: 150px;
		margin-top: 15%;;
	}
	.ribboncontainer {
		border: 1px solid #d8dee5;
		-webkit-box-shadow: 0 1px 5px rgba(0,0,0,0.1);
		box-shadow: 0 1px 5px rgba(0,0,0,0.1);
		font-size: 1rem;
		color: #46494f;
		line-height: 1rem;
		max-width: 600px;
		min-width: 250px;
		margin: 0 45px 0 auto;
		padding:10px 12px 5px;
	}
	[class*="tekst"] {
		padding: 10px 10px;
		line-height: 1.3rem;
		font-size: 1.1rem;
	}
	.naglowek-h2 {
		margin: 5px 0;
	}
	.sekcja-galeria .row .col-2 {
		width: 100%;
	}
	.sekcja-liczby .col-3,
	.sekcja-pracownicy .col-3{
		width: 100%;
	}
	.sekcja-liczby {
	    padding-top: 10px;
		height:30vh;
	    min-height: 300px;
    }
	.sekcja-promocja .col-offset-1 {
		margin-left: 0.03%;
	}
	.naglowek-h4 {
		font-family: 'Sigmar One', cursive;
		font-size: 2rem;
		padding: 5px;
	}
	.naglowek-h5 {
		font-size: 1rem;
		letter-spacing: normal;
		padding: 5px;
	    margin: 0;
	}
	.sekcja-promocja {
		@include wysrodkowanie;
		padding: 60px 0 0 0;
	}
	.sekcja-promocja .col-7 {
		width: 100%;
	}
	.sekcja-galeria {
		@include basic-padding;
		margin: 0;
		box-shadow: #000 -2px 2px 2px;
	}
	.sekcja-liczby {
	height: 100vh;
	min-height: 600px;
	padding-top: 40px;
    }
	.sekcja-footer .col-4 .col-5 {
		width: 40%;
	}
}
@media only screen and (min-width: 768px) and (max-width: 1023px){
	.col-4{
		width: 100%;
	}
	.spod-komorki .obraz .cien img {
		width: 100%;
	}
	.obraz {
		width: 100%;
	}
	.sekcja-promocja .col-3,
	.sekcja-promocja .col-4 {
		width: 40%;
	}
	.logo {
		margin-left: 15px;
	}
	.sekcja-galeria .row .col-2 {
		width: 100%;
	}
	.sekcja-liczby {
	height: 100vh;
	min-height: 700px;
	padding-top: 40px;
    }
	.sekcja-liczby .col-3,
	.sekcja-pracownicy .col-3{
		width: 100%;
	}
}